<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
		<title>报名</title>
		<link rel="stylesheet" href="/template/baoming2/base.css">
		<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="/template/baoming2/test.js"></script>
	</head>

	<body>
		<div>
			<%=wx_user.nickname%>
		</div>
		<div>
			<%=wx_user.openid%>
		</div>
		<% if(vip){ %>
			<div>我是关注用户</div>
			<% }else{ %>
			<div>我还没有关注</div>
		<% } %>
		<% include ../common/wx_share.html %>
		<script>
			wx.ready(function() {
				var sdata = {
					title: '九州快讯',
					desc: '汽车后市场人脉圈',
					link: window.location.href,
					imgUrl: 'http://video.jiuzhouauto.com/x-ui/redrain.png',
					success: function() {},
					cancel: function() {}
				};
				wx.onMenuShareTimeline(sdata);
				wx.onMenuShareAppMessage(sdata);
			});
		</script>
	</body>

</html>