body {
  margin: 0;
  padding: 0;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

.icon {
  width: 15px; height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.hideSidebar {
  width: 65px !important;
  transition: all 300ms;
}
.showSidebar {
  width: 200px !important;
  transition: all 300ms;
}

.topSidebar {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  display: flex;
  height: 60px;
  align-items: center;
}

.topSidebar .a {
  cursor: pointer;
  width: 50px;
}
.topSidebar .a .hor {
  height: 36px;
  width: 36px;
  fill: #666666;
}

.topSidebar .a .ver {

  height: 36px;
  width: 36px;
  fill: #666666;
  transform:rotate(90deg)
}

.topSidebar .b {
  flex:1;
}

.topSidebar .d {
  width: 80px;
}

.topSidebar .c {
  cursor: pointer;
  display: flex;
  width: 120px;
  align-items: center;
  font-size: 14px;
}

.topSidebar .c .logout .icon {
  width: 15px;
  height: 15px;
  fill: #666666;
}

.topSidebar .c .logout .txt {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}

.topSidebar .c .logout:hover .icon,
.topSidebar .c .logout:hover .txt {
  fill:red;
  color:red;
}
.topSidebar .c .ca {
  width: 60px;
  overflow: hidden;
}
.topSidebar .c .ca .img {
  width: 40px;
  height: 40px;
  margin: 10px;
  overflow: hidden;
  background-image: url(/static/img/timg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
.topSidebar .c .cb {
  width: 60px;
  overflow: hidden;
}
.topSidebar .c .cb .logout {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topSidebar .c .cb .name {
  white-space: nowrap;
}
.mainSidebar {
  background-color: #f0f2f5;
}

.el-menu-item .icon {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

.el-menu-item  a {

  text-decoration-line: none;
  text-decoration-color: #e6e6e6;
}

.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

#system .qrcode-uploader,
#system .qqun-uploader {
  min-height: 178px;
  height:auto;
}

.qrcode-uploader .el-upload,
.qqun-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height:100%;
  min-height: 178px;
}
.qrcode-uploader .el-upload:hover,
.qqun-uploader .el-upload:hover {
  border-color: #409EFF;
}
.qrcode-uploader-icon,
.qqun-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.qrcode,.qqun {
  width: 178px;
  height: 178px;
  display: block;
}


#redpack .row1 {
  text-align: center;
  background: #ccc;
  height:38px;
  line-height: 38px;
  border-bottom: 1px solid #eee;
}

#redpack .row2 {
  text-align: center;
  height:38px;
  line-height: 38px;
  border-bottom: 1px solid #eee;
}

#redpack .row3 {
  text-align: center;
  background: #ccc;
  height:38px;
  line-height: 38px;
}

#redpack .row1 .col1 {
  padding: 2px;
  height:100%;
  background: #ccc;
}

#redpack .row1 .col2 {
  padding: 2px;
  height:100%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

#redpack .row1 .col3 {
  padding: 2px;
  height:100%;
}

#redpack .row1 .col4,
#redpack .row2 .col4,
#redpack .row3 .col4 {
  padding: 2px;
  height:100%;
  border-left: 1px solid #eee;
}

#redpack .row2 .col1 {
  background: #ccc;
  padding: 2px;
  height:100%;
}

#redpack .row2 .col2 {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 2px;
  height:100%;
}

#redpack .row2 .col3 {
  padding: 2px;
  height:100%;
}

#redpack .row3 .col1 {
  padding: 2px;
  height:100%;
  background: #ccc;
}

#redpack .row3 .col2 {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 2px;
  height:100%;
}

#redpack .row3 .col3 {
  padding: 2px;
  height:100%;
}

#moneyhome .table {
  border:1px solid #dcdfe6;
  margin-top: 20px;
  border-radius: 4px;
}

#moneyhome .table .col1 {
   height:38px;
   line-height:38px;
   background-color: #ffffff;
   border-right:1px solid #dcdfe6;
   text-align: center;
}


#moneyhome .table .col2 {
  height:38px;
  line-height:38px;
  padding-left: 10px;
}

#moneyhome .table .bt {
  border-bottom: 1px solid #dcdfe6;
}
