<el-card >
  <el-row :gutter="20">
    <el-col :span="8" style="line-height: 28px;font-weight: bold">
      <i class="el-icon-setting"></i>
      <span>100元红包设置</span>
    </el-col>
    <el-col :span="8" style="text-align: center">
      <template v-if="edit100">
        <el-button type="primary" size="mini" :disabled="do100" @click="changeEdit100" icon="el-icon-edit">编辑规则</el-button>
      </template>
      <template v-else>
        <el-button type="success" size="mini" :disabled="do100" @click="saveEdit100" icon="el-icon-check">保存规则</el-button>
      </template>
    </el-col>
    <el-col  :span="8" style="text-align: right">
      <el-button type="warning" size="mini"  @click="restart100" icon="el-icon-refresh">重新发包</el-button>
    </el-col>
  </el-row>
</el-card>
<el-card :body-style="{ padding: '0px' }">
  <el-row class="row1">
    <el-col :span="4" class="col1"><span>#</span></el-col>
    <el-col :span="7" class="col2"><span>概率：‰</span></el-col>
    <el-col :span="7" class="col3"><span>金额：元</span></el-col>
    <el-col :span="6" class="col4"><span>合计：元</span></el-col>
  </el-row>
  <el-row class="row2">
    <el-col :span="4" class="col1"><span>1</span></el-col>
    <el-col :span="7" class="col2">
      <span v-if="edit100" v-html="s100A"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changes100" v-model="s100A" precision="0" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="7" class="col3">
      <span v-if="edit100" v-html="m100A"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changem100" v-model="m100A" precision="2" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="6" class="col4"><span v-html="sm100A"/></el-col>
  </el-row>
  <el-row class="row2">
    <el-col :span="4" class="col1"><span>2</span></el-col>
    <el-col :span="7" class="col2">
      <span v-if="edit100" v-html="s100B"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changes100" v-model="s100B" precision="0" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="7" class="col3">
      <span v-if="edit100" v-html="m100B"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changem100" v-model="m100B" precision="2" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="6" class="col4"><span v-html="sm100B"/></el-col>
  </el-row>
  <el-row class="row2">
    <el-col :span="4" class="col1"><span>3</span></el-col>
    <el-col :span="7" class="col2">
      <span v-if="edit100" v-html="s100C"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changes100" v-model="s100C" precision="0" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="7" class="col3">
      <span v-if="edit100" v-html="m100C"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changem100" v-model="m100C" precision="2" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="6" class="col4"><span v-html="sm100C"/></el-col>
  </el-row>
  <el-row class="row2">
    <el-col :span="4" class="col1"><span>4</span></el-col>
    <el-col :span="7" class="col2">
      <span v-if="edit100" v-html="s100D"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changes100" v-model="s100D" precision="0" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="7" class="col3">
      <span v-if="edit100" v-html="m100D"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changem100" v-model="m100D" precision="2" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="6" class="col4"><span v-html="sm100D"/></el-col>
  </el-row>
  <el-row class="row2">
    <el-col :span="4" class="col1"><span>5</span></el-col>
    <el-col :span="7" class="col2">
      <span v-if="edit100" v-html="s100E"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changes100" v-model="s100E" precision="0" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="7" class="col3">
      <span v-if="edit100" v-html="m100E"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changem100" v-model="m100E" precision="2" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="6" class="col4"><span v-html="sm100E"/></el-col>
  </el-row>
  <el-row class="row2">
    <el-col :span="4" class="col1"><span>6</span></el-col>
    <el-col :span="7" class="col2">
      <span v-if="edit100" v-html="s100F"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changes100" v-model="s100F" precision="0" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="7" class="col3">
      <span v-if="edit100" v-html="m100F"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changem100" v-model="m100F" precision="2" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="6" class="col4"><span v-html="sm100F"/></el-col>
  </el-row>
  <el-row class="row2">
    <el-col :span="4" class="col1"><span>7</span></el-col>
    <el-col :span="7" class="col2">
      <span v-if="edit100" v-html="s100G"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changes100" v-model="s100G" precision="0" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="7" class="col3">
      <span v-if="edit100" v-html="m100G"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changem100" v-model="m100G" precision="2" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="6" class="col4"><span v-html="sm100G"/></el-col>
  </el-row>
  <el-row class="row2">
    <el-col :span="4" class="col1"><span>8</span></el-col>
    <el-col :span="7" class="col2">
      <span v-if="edit100" v-html="s100H"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changes100" v-model="s100H" precision="0" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="7" class="col3">
      <span v-if="edit100" v-html="m100H"/>
      <el-input-number v-else style="width:100%;" :disabled="do100" @change="changem100" v-model="m100H" precision="2" controls-position="right" size="mini" :min="1"></el-input-number>
    </el-col>
    <el-col :span="6" class="col4"><span v-html="sm100H"/></el-col>
  </el-row>
  <el-row class="row3">
    <el-col :span="4" class="col1"><span></span></el-col>
    <el-col :span="7" class="col2"><span v-html="s100All"/></el-col>
    <el-col :span="7" class="col3"><span></span></el-col>
    <el-col :span="6" class="col4"><span v-html="sm100All"/></el-col>
  </el-row>
</el-card>
