<% include header %>

<script type="text/x-template" id="system-template">
 <div
   v-loading.fullscreen.lock="loading"
   element-loading-background="rgba(255, 255, 255, 0.3)">
    <% include system-rowA %>
    <% include system-rowB %>
 </div>
</script>


<div id="system">
 <systemlist></systemlist>
</div>
<script src="/static/js/system.js"></script>

<% include footer %>
